<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Легко отслеживайте свои финансы с нашим приложением Финансовый трекер." />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script> <!-- Обновлено на более новую версию -->
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2" href="#">Финансовый трекер</a>

        <span class="nav-item mr-auto text-light"
              style="font-size: 175%">
            @ViewData["Title"]
        </span>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                -
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index"
                               asp-controller="Home">
                                Панель управления
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index"
                               asp-controller="Expense">
                                Расходы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index"
                               asp-controller="Budget">
                                Управление бюджетом
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-controller="SavingsGoal"
                               asp-action="Goals">
                                Трекер сбережений
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index"
                               asp-controller="Category">
                                Категории
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 main-content">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
